/*
Theme by Daemon - February 2017, ver 0.0.1
*/
@import (reference) url(font-awesome.css) ;

.error {background-color:#32383e;  padding-left:38px;}
.message, #menu p.message {background-color:#32383e; padding-left:38px;}

#dbs span, th a[href*="&db="]:not([href*="&select="]):not([href*="&table="]) {background:transparent; &:extend(.fa-database); padding-left:22px;}



.links a {margin-right:8px;}

a[href$="&sql="] {background:transparent;padding-left:22px;}
a[href*="&dump="] {background:transparent;padding-left:22px;}
a[href$="&dump="] {background:transparent;padding-left:22px;}
a[href*="&import="] {background:transparent;padding-left:22px;}
a[href$="&import="] {background:transparent;padding-left:22px;}

@media all and (min-device-width: 880px) {
  #menu .links {height:20px; transition:.2s; font-size: 10px}
  
  #menu .links a {color: #c8c8c8; text-decoration: none;  transition:.2s; display:inline-block; margin-bottom:-1.25em;}

  #menu .links:hover a {color:#c8c8c8; height:15px; }
  #menu .links a:hover {color:#c8c8c8; text-decoration: underline;}
}

#menu p a[href*="&select="] {background:transparent;background-color: #3e444c; clear:left; display:block; float:left; height:16px; margin-right:8px; padding-top:1px; overflow:hidden; padding-left:16px; width:0; text-decoration:none;}

#menu p a[href*="&table="], #menu p a[href*="&view="] {clear:right; margin-left:24px; display:block; height:17px; padding-bottom:1px; text-decoration:none;}

#menu p#tables br {display:none;}

.links a[href*="&create="] {color: #c8c8c8; background-color: #272b30; padding-left:22px;}
.links a[href$="&create="] {color: #c8c8c8; background-color: #272b30; padding-left:22px;}


th a[href*="&table="]  { background:transparent; padding-left:22px;}

.links #content a[href*="&database="] {color: #c8c8c8;text-decoration: none;  background-color: #272b30; padding-left:22px;}
#content p a[href*="&schema="] {background:transparent; padding-left:22px;}
#content p a[href*="&privileges="] {background:transparent; padding-left:22px;}

#content p a[href*="&event="] {background:transparent; padding-left:22px;}
#content p a[href$="&view="] {background:transparent; padding-left:22px;}

#content p a[href*="&refresh="] {padding-left:22px;}

#content p a[href*="&sql="] {color: #c8c8c8; text-decoration: none; padding-left:24px;}
#content p a[href*="&sql="]:hover {color: #c8c8c8; text-decoration: underline; padding-left:24px;}
table tbody input[name*="check"] {display:block; float:left;}

table a[href*="&edit="][href*="&where"] {padding-right:18px;}

table input + a[href*="&edit="][href*="&where"] {width:0; float:left; display:block; height:16px; overflow:hidden; text-decoration:none; padding:0 0 0 18px; background-position:2px bottom;}

table thead #all-page + a {padding-right:18px;}
table thead #all-page + a {width:0; display:inline-block; height:16px; overflow:hidden; text-decoration:none; padding:0 0 0 16px;}
table td:first-child { white-space:nowrap; }

input[name="delete"], input[name="drop"] {color: #c8c8c8; padding:1px 5px 1px 18px; border:0; cursor:pointer; font-size:.9em;}
input[name="delete"]:hover, input[name="drop"]:hover {color:#ee5f59; }

input[name="logout"] {color: #c8c8c8; padding:1px 22px 1px 5px; border:0; cursor:pointer; font-size:.9em;}
input[name="logout"]:hover {color:#ee5f59;}

/* my kod */
html, body {
  color: #c8c8c8; background-color: #272b30;
}
h1,h2,p{
  color: #c8c8c8;
  background-color: #272b30;	
}
div p{
	color: #c8c8c8; background-color: #272b30; 
}
.links a{
	color: #c8c8c8; background-color: #272b30; text-decoration: none;
}
.links a:hover{
	color: #c8c8c8; text-decoration: underline;
}
input{
	color: #c8c8c8; background-color: #3e444c;
}
/*меню слева, имена таблиц*/
p#tables{
	color: #c8c8c8; background-color: #2e3338; text-decoration: none;
}
p#tables a{
	color: #c8c8c8; background-color: #2e3338; 
}
p#tables a:hover{
	color: #c8c8c8; background-color: #3e444c; text-decoration: underline; padding-left: 1px; padding-right: 5px;
}
/*вверху ссылка на корневую базу*/
p#breadcrumb{
	color: #c8c8c8; background-color: #272b30; text-decoration: none;
}
p#breadcrumb a{
	color: #c8c8c8; background-color: #272b30; text-decoration: none;
}
p#breadcrumb a:hover{ 
	color: #c8c8c8; text-decoration: underline;
}

/* выпадающий список*/
select,option {
  color: #c8c8c8;
  background-color: #3a3f44;	
}
option>select:hover {
  color: #c8c8c8;
  background-color: #3e444c;	
}
option:hover{
	color: #c8c8c8;
	text-decoration: underline;
}

/*поле ввода SQL-запроса */
div p{
	text-decoration: none;
}

.sqlarea{
	background-color: transparent;
}

span.jush-sql_code{
	color: #c8c8c8; text-decoration: none;
}
.jush a{
	color: #c8c8c8;  text-decoration: none;
}
.jush a:hover{
	color: #c8c8c8;  text-decoration: underline;
}

span.jush-num{
	color: #5ebf4f; /*цвет цифр */
}
.jush-php_quo, 
.jush-quo, 
.jush-quo_one, 
.jush-php_eot, 
.jush-apo, 
.jush-sql_apo, 
.jush-sqlite_apo, 
.jush-sql_quo, 
.jush-sql_eot{
	color: #5bb6ad; /* цвет текста в ковычках*/
}
.jush-bac, .jush-php_bac, .jush-bra, .jush-mssql_bra, .jush-sqlite_quo{
	color: #c8c8c8;
}
/*изменяем кнопки на bootstrap*/
input{
	color: #c8c8c8;
	background-color: #3a3f44;
	border-color: #3a3f44;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;	
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;

}
input:focus
{
  color: #c8c8c8;
  background-color: #232628;
  border-color: #000000;
  text-decoration: none;
}
input:hover {
  color: #c8c8c8;
  background-color: #232628;
  border-color: #1e2023;
}
input:active
{
  outline: 0;
  color: #c8c8c8;
  background-color: #232628;
  border-color: #1e2023;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input:active:hover
 {
  color: #c8c8c8;
  background-color: #121415;
  border-color: #000000;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/*таблицы*/
table, thead, tr, th, td{
	color: #c8c8c8; background-color: #353a41 ; text-decoration: none;	
}
thead td, thead th{
	background-color: #1c1e22; /* фон титула таблицы*/
}
table>tr.wrap>td{
	background-color: #1c1e22; /* фон титула таблицы*/
}
table>thead>tr.wrap>th{
	background-color: #1c1e22; /* фон титула таблицы*/
}

table.checkable>tbody>tr{
	color: #c8c8c8; background-color: #353a41; text-decoration: none;
}
.js .checkable .checked td, .js .checkable .checked th{
	background-color: #49515a;
}
th a{
	color: #c8c8c8 !important;  text-decoration: none;
}
th a:hover{
	color: #c8c8c8 !important;  text-decoration: underline;
}
td a{
	color: #c8c8c8 !important;  text-decoration: none;
}
td a:hover{
	color: #c8c8c8 !important;  text-decoration: underline;
}
tbody tr:hover td,
tbody tr:hover th{
	color: #c8c8c8 !important; background-color: #49515a !important;
}
.odd td, .odd th{
	color: #c8c8bd ; background-color: #2e3338;
}
.odd td:hover,.odd th:hover{
	color: #c8c8c8 !important; background-color: #49515a ;
}
#help{
	color: #c8c8c8; background-color: #2e3338; 
}
/* устроняю шераховатости */
legend a{
	color: #c8c8c8;  text-decoration: none;
}
legend a:hover{
	color: #c8c8c8 !important;  text-decoration: underline;
}
code,textarea{
	background-color: transparent; border: 1px inset #0c0d0e;
}

a{
	color: #c8c8c8 !important;  text-decoration: none !important;
}
a:hover{
	color: #c8c8c8 !important;  text-decoration: underline !important;
}

.icon{
	background-color: transparent;
}
.icon:hover{
	background-color: red;
}
.icon:active{
	background-color: transparent;
}
input.icon{
	color: #c8c8c8;
}
/* поле внизу помощь старница и д.р.*/
.pages{
	color: #c8c8c8;	background-color: #1c1e22;
}
/* помощь в таблице */
.js .column{
        color: #fff;	background-color: #3e444c;
}
#logins a{
	background-color: transparent;
}
